<div class="container">
  <h3>Find your Room!</h3>
  <form #roomForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="campus">Campus</label>
      <select class="form-control" id="campus" required [(ngModel)]="model.campus" name="campus">
        <option>North</option>
        <option>South</option>
        <option>East</option>
      </select>
    </div>

    <div class="form-group">
      <label for="budget">Budget</label>
      <input type="text" class="form-control" id="budget" required [(ngModel)]="model.budget" name="budget">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

